:root {
  --bg-color: #181A1B;
  --text-color: #F5F6FA;
  --accent-color: #4F8EF7;
  --secondary-bg: #2C2F33;
  --cta-color: #00C897;
  --border-color: #3A3B3C;
}


* {
    font-family: "montserrat", sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

nav {
    display: flex;
    margin: auto 20px;
    background-color: var(--bg-color);
}

.nav-cont {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.nav-cont a {
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
}